/* Remove browser settings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Whole body */
body {
  background-color: antiquewhite;
}
/* Media Queries */
@media screen and (max-width: 566px) {
  header, main {
    width: 85vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 568px) {
  header, main {
    width: 85vmin;
    margin: 0 auto;
  }
}
  @media screen and (min-width: 769px) {
    header, main {
      width: 40em;
      margin: 0 auto;
    }
  }
@media screen and (min-width: 900px) {
  header, main {
    width: 45em;
    margin: 0 auto;
  }
}
/* Further settings */
header {
  padding-bottom: 25px;
}
.topic {
  color: red;
  text-transform: uppercase;
  font-size: 1.3rem;
}
h1 {
  margin: 10px 0 20px 0;
}
header p {
  font-size: 1.2em;
  margin-bottom: 2vmax;
}
.author::before {
  content: "by "
}
main section {
  margin-bottom: 3.5vh;
}
main p {
  text-align: justify;
  margin-bottom: 10px;
}
.date {
  font-style: italic;
}
img {
  width: 40vw;
  display: block;
  float: right;
  margin: 0 0 15px 15px;
}