/* Declaration of variables */
:root {
  --center-element: 0 auto;
  --light-bg: antiquewhite;
  --dark-ft: black;
  --dark-bg: #003000; 
  --light-ft: #eeeeee;
}
main section:nth-child(even) {
  --light-bg: yellow;
  --light-ft: #00ee00;
  --dark-bg: #000030; 
  --dark-ft: blue;
}
/* Remove browser settings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
/* Whole body */
body {
  background-color: antiquewhite;
}
/* Media Queries */
/* Phone */
@media screen and (max-width: 567px) {
  html {
    font-size: 1.2rem;
  }
  header, main, footer {
    width: 85vw;
    margin: var(--center-element);
  }
  img {
    display: none;
  }
  .source, .styling {
    text-align: center;
  }
}
/* Tablet */
@media screen and (min-width: 568px) and (max-width: 768px) {
  header, main, footer {
    width: 85vmin;
    margin: var(--center-element);
  }
  img {
    width: 85vw;
    display: block;
    margin: 10px 0;
  }
  .source {
    float: left;
  }
  .styling {
    float: right;
  }
}
/* Wide screens */
  @media screen and (min-width: 769px) and (max-width: 999px) {
    header, main, footer {
      width: 40em;
      margin: var(--center-element);
    }
    img {
      width: 40vw;
      display: block;
      float: right;
      margin: 0 0 15px 15px;
    }
    .source {
      float: left;
    }
    .styling {
      float: right;
    }
    main p:nth-of-type(odd):hover {
      background-color: var(--light-ft);
      color: var(--dark-bg);
    }
    main p:nth-of-type(even):hover {
      background-color: var(--dark-ft);
      color: var(--light-bg);
    }
  }
  /* Extra wide screens */
@media screen and (min-width: 1000px) {
  header, main, footer {
    width: 50em;
    margin: var(--center-element);
  }
  img {
    width: 25em;
    display: block;
    float: right;
    margin: 0 0 2ex 2ch;
  }
  .source {
    float: left;
  }
  .styling {
    float: right;
  }
}
/* Further settings */
header {
  padding-top: 15px;
  padding-bottom: 25px;
}
.topic {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}
h1 {
  margin: 10px 0 20px 0;
}
header p {
  font-size: 1.2em;
  margin-bottom: 2vmax;
}
.author::before {
  content: "by "
}
main section {
  margin-bottom: 3.5vh;
}
main p {
  text-align: justify;
  margin-bottom: 10px;
}
main p:nth-of-type(odd) {
  background-color: var(--dark-bg);
  color: var(--light-ft);
}
main p:nth-of-type(even) {
  background-color: var(--light-bg);
  color: var(--dark-ft);
}
.date {
  font-style: italic;
}
q {
  font-style: italic;
}
q q {
  font-weight: bold;
}